@model Fiap.Exemplo02.MVC.Models.Vaga

@{
    ViewBag.Title = "Vaga";
}

@if (ViewBag.msg != null)
{
    <div class="alert alert-success alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@ViewBag.msg</strong>
    </div>
}

<h2>Cadastrar</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(v => v.Cargo)
        @Html.TextBoxFor(v => v.Cargo, new { @class = "form-control", placeholder = "Entre com o cargo" })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Descricao)
        @Html.TextAreaFor(v => v.Descricao, new { @class = "form-control", placeholder = "Entre com a descrição" })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Salario)
        @Html.TextBoxFor(v => v.Salario, new { @class = "form-control", placeholder = "Entre com o Salario" })
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(v => v.ValeRefeicao)
        @Html.LabelFor(v => v.ValeRefeicao)
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Nivel)
        @Html.DropDownListFor(v=> v.Nivel, (SelectList)ViewBag.opcoes, "Selecione..." ,new {@class="form-control"})
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Cadastrar" />
    </div>
}
